<p style="color: green"><%= notice %></p>

<% content_for :title, "Businesses" %>

<h4 class="bg-dark text-white">Businesses</h4>

<div id="businesses">
  <% @businesses.each do |business| %>
    <%= render business %>
    <p>
      <%= link_to "Show this business", business %>
    </p>
  <% end %>
</div>

<%= link_to "New business", new_business_path %>
