<p style="color: green"><%= notice %></p>

<% content_for :title, "Businesses" %>

<div class="row">
    <div class="col my-auto">
        <h4 class="bg-dark text-white">Businesses</h4>
    </div>
    <div class="col-2">
        <%= link_to "New business", new_business_path, class: "btn btn-dark" %>
    </div>
</div>
<table class="table table-striped" id="businesses">
    <thead>
        <tr>
            <th>Name</th>
            <th>Link</th>
        </tr>
    </thead>
    <tbody>
    <% @businesses.each do |business| %>
        <tr>
            <td><%= render business %></td>
            <td><%= link_to "Show Details", business %></td>
        </tr>
    <% end %>
  </tbody>
</table>


