<p style="color: green"><%= notice %></p>

<% content_for :title, "Neighbourhoods" %>

<h4 class="bg-dark text-white">Neighbourhoods</h4>

<div id="neighbourhoods">
  <% @neighbourhoods.each do |neighbourhood| %>
    <%= render neighbourhood %>
    <p>
      <%= link_to "Show this neighbourhood", neighbourhood %>
    </p>
  <% end %>
</div>

<%= link_to "New neighbourhood", new_neighbourhood_path %>
