<% content_for :title, "Editing park" %>

<h1>Editing park</h1>

<%= render "form", park: @park %>

<br>

<div>
  <%= link_to "Show this park", @park %> |
  <%= link_to "Back to parks", parks_path %>
</div>
