<p style="color: green"><%= notice %></p>

<% content_for :title, "Parks" %>

<div class="row">
    <div class="col my-auto">
        <h4 class="bg-dark text-white">Parks</h4>
    </div>
    <div class="col-2">
        <%= link_to "New park", new_park_path, class: "btn btn-dark" %>
    </div>
</div>
<table class="table table-striped" id="parks">
    <thead>
        <tr>
            <th>Name</th>
            <th>Link</th>
        </tr>
    </thead>
    <tbody>
    <% @parks.each do |park| %>
        <tr>
            <td><%= render park %></td>
            <td><%= link_to "Show Details", park %></td>
        </tr>
    <% end %>
  </tbody>
</table>


