<p style="color: green"><%= notice %></p>

<% content_for :title, "Parks" %>

<h4 class="bg-dark text-white">Parks</h4>

<div id="parks">
  <% @parks.each do |park| %>
    <%= render park %>
    <p>
      <%= link_to "Show this park", park %>
    </p>
  <% end %>
</div>

<%= link_to "New park", new_park_path %>
